/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
font-family: Open Sans;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 14px;
}

h1{
    font-weight: 800;
    font-size: 60px;
    padding-top: 30px
}

img{
    display: block;
    max-width: 100%;
}

h2{
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 35px;
}

h4{
    margin-top: 40px;
    margin-bottom: 30px;
}

/* Utils */

.big-container{
    max-width: 1000px;
    margin: 0 auto;
}

.small-container{
    max-width: 800px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn{
    background-color: rgb(17, 104, 204);
    color: white;
    padding: 5px 10px;
}

.color-trasp{
    color: rgba(0, 0, 0, 0.5);
}
/* Header */

/* Navbar */

.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    background-color: white;
    position: fixed;
    width: 100%;
}

.navbar > div{
    flex-basis: calc(100% / 2);
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.navbar-right ul{
    justify-content: flex-end;
}

/* Jumbotron */

.bg{
    background-color: #B4D0E7;
    height: 600px;
}

.jumbotron{
    padding-top: 80px;
    height: 100%;
}

.title{
    height: 150px;
}

.content{
    padding-top: 50px;
}

.txt-col{
    padding-top: 50px;
    flex-basis: 40%;
}

.img-col{
    padding-top: 50px;
    flex-basis: 60%;
}

.txt-col  p{
    margin-bottom: 45px;
}

.annulla{
    margin-top: 30px;
}

/* Main */

/* section plan */

.facture{
    display: flex;
    align-items: center;
}

.circle-check{
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 4px solid blue;
    margin-right: 5px;
}

.circle{
    margin-left: 30px;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 3px solid lightgray;
    margin-right: 5px;
}

.row{
    margin-top: 80px;
    gap: 30px;
}

.plan .row{
    flex-wrap: wrap;
}

.col{
    flex-basis: calc(100% / 3 - 60px / 3);

    border: 1px solid lightgrey;
    min-height: 100px;
}

.col-down{
    flex-grow: 1;
}

.top-col{
    padding: 10px;
    border: 1px solid lightgrey;
    text-align: center;
}

.down-col{
    padding: 30px;
}

.down-col li{
    font-size: 12px;
    margin: 20px 0;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.contattaci{
    padding-left: 50px;
}

.fa-check{
    color: blue;
}

.border-down{
    display: inline-block;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.team{
    padding: 10px;
    text-align: center;
    border: 1px solid lightgrey;
}

.team-content{
    height: 80%;
    padding: 20px;
}

.start{
    flex-basis: 70%;
}

.contact{
    margin-top: 15px;
    margin-bottom: 40px;
}

.end{
    flex-basis: 30%;
    text-align: end;
}
/* Section partner */

/* immagine partner */

.side{
    flex-basis: calc(100% / 2);
    min-height: 100px;
}

.partner{
    margin-top: 120px;
}

.txt-partner{
    padding: 40px;
}

.txt-partner h3{
    font-size: 25px;
}

.txt-partner p{
    margin: 20px 0;
}

.txt-partner a{
    border: 1px solid black;
    padding: 10px 15px;
    display: inline-block;
}

/* Section Business */

.business .row{
    flex-wrap: wrap;
}

.business .col{
    border: 0;
}

.underline{
    text-decoration: underline;
    color: blue;
}

/* Section Aside */

.square{
    flex-basis: calc(100% / 2);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid transparent;
}
.items-col img{
    width: 50%;
    filter: invert(1);
}

.designit{
    background-color: #A2D39B;
}

.arizona{
    background-color: #61082B;
}

.florida{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.central-col{
    padding: 20px;
}

.central-col img{
    width: 50%;
}

.central{
    background-color: #F5F5F5;
}

.central-col p{
    margin: 40px 0;
}

.bicycle{
    background-color: #D5001F;
}

.hearts{
    background-color: #B4D0E7;
}

.planet{
    background-color: #0D2481;
}

.channel{
    background-color: #FFD830;
}

.aside .col{
    flex-wrap: wrap;
}

.aside .row{
    gap: 0;
}

.aside .col{
    flex-basis: calc(100vw / 3);
    height: calc(100vw / 3);
}

/* Bonus bordi */

.square:hover{
    border: 15px solid rgba(255, 255, 255, 0.5);
}

/* Sezione try */

.free-try{
    height: 250px;
    background-color: #B4D0E7;
}

.free-try h3{
    font-size: 30px;
    width: 50%;
    color: #61082B;
}

.free-try a{
    border: 1px solid black;
    padding: 15px 40px;
    display: inline-block;
    background-color: white;
}

.free-try .flex{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/* Sezione q&a */

.question{
    padding-bottom: 50px;
    border-bottom: 1px solid lightgrey;
    font-size: 35px;
    margin-top: 80px;
}

.question-3 li{
    padding: 30px 0;
    border-bottom: 1px solid black;
}

.question-3 li:hover p{
    display: block;
}

.question-3 h6{
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
}
.question-3 i{
    padding-left: 130px;
}

.question-3 p{
    padding-top: 30px;
    display: none;
}


/* Footer */

footer{
    margin-top: 100px;
    background-color: black;
    height: 550px;
    color: white;
}

.col-footer{
    flex-basis: calc(100% / 5);
    margin-top: 80px;
}

.col-footer li{
    margin: 20px 0;
    font-size: 14px;
}

.col-footer h5{
    font-size: 20px;
    padding-bottom: 20px;
}

.col-footer ul{
    padding-bottom: 80px;
}

.language{
    color: gray;
    border-top: 1px solid grey;
    display: inline-block;
    padding-top: 50px;
}

